.env*
venv/
.venv/
__pycache__/
*.pyc
exports/
.pytest_cache/
.ruff_cache/
.selenium-profile/
selenium_debug.html
selenium_debug.png
.DS_Store
create_tables.sql
hermina-crawler-fe
herminaCrawler-fe
package-lock.json
apps.md
information.md
outputs
.obsidian/

